<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSP Tool</title>
    <link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link type="text/css" href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="css/theme.css" rel="stylesheet">
    <link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
    <link rel="stylesheet" href="css/sol.css">   <!-- multiselect css -->
    <link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
    <!-- <link type="text/css" rel="stylesheet" href="https://raw.githubusercontent.com/esvit/ng-table/master/dist/ng-table.min.css"> -->
        <link rel="stylesheet" href="https://dojotoolkit.org/reference-guide/1.8/_static/js/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="/css/angular-responsive-tables.min.css" >
    <link rel="stylesheet" href="/css/angular-responsive-tables.css" >

</head>

  <body>
    <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <i class="icon-reorder shaded"></i>
      </a>

        <a class="brand" href="index.html">
          SSP Tool
        </a>

      <div class="nav-collapse collapse navbar-inverse-collapse">
         <ul class="nav nav-icons">
          <!-- <li class="active"><a href="#">
            <i class="icon-envelope"></i>
          </a></li>
          <li><a href="#">
            <i class="icon-eye-open"></i>
          </a></li>
          <li><a href="#">
            <i class="icon-bar-chart"></i>
          </a></li>
        </ul>

        <form class="navbar-search pull-left input-append" action="#">
          <input type="text" class="span3">
          <button class="btn" type="button">
            <i class="icon-search"></i>
          </button>
        </form>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Item No. 1</a></li>

              <li><a href="#">Don't Click</a></li>
              <li class="divider"></li>
              <li class="nav-header">Example Header</li>
              <li><a href="#">A Separated link</a></li>
                            </ul>
          </li>

          <li><a href="#">
            Support
          </a></li>
           <li class="nav-user dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/user.png" class="nav-avatar" />
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">Your Profile</a></li>
              <li><a href="#">Edit Profile</a></li>
              <li><a href="#">Account Settings</a></li>
              <li class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->



<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="sidebar">

          <ul class="widget widget-menu unstyled">
            <li class="active" ng-controller = "dashBoardCtrl">
              <a href="" ng-click = "submit()">
                <i class="menu-icon icon-dashboard"></i>
                Home
              </a>
            </li >
            <li class="active" ng-controller = "viosListCtrl">
              <a href="" ng-click = "submit()">
                <i class="menu-icon icon-bullhorn"></i>
                VIOS LIST
              </a>
            </li>
            <li>
              <a class="collapsed" data-toggle="collapse" href="#togglePages">
                <i class="menu-icon icon-cog"></i>
                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                Status
              </a>
              <ul id="togglePages" class="collapse unstyled">
                <li ng-controller = "viosStatusCtrl">
                  <a href="" ng-click="submit()">
                    <i class="icon-inbox"></i>
                    VIOS INSTALL
                  </a>
                </li>
                <li ng-controller = "clusterStatusCtrl">
                  <a href="" ng-click="submit()">
                    <i class="icon-inbox"></i>
                    CLUSTER INSTALL
                  </a>
                </li>

              </ul>
            </li>




          </ul><!--/.widget-nav-->

          <!-- <ul class="widget widget-menu unstyled">
                              <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> Buttons </a></li>
                              <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i>Typography </a></li>
                              <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
                              <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
                              <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
                          </ul> --> <!--/.widget-nav-->

          <ul class="widget widget-menu unstyled">

            <li>
              <a class="collapsed" data-toggle="collapse" href="#togglePages2">
                <i class="menu-icon icon-cog"></i>
                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                Installation Form
              </a>
              <ul id="togglePages2" class="collapse unstyled">
                <li ng-controller="viosFormCtrl">
                  <a href="" ng-click="submit()">
                    <i class="icon-inbox"></i>
                    VIOS INSTALL
                  </a>
                </li>
                <li ng-controller="clusterFormCtrl">
                  <a href="" ng-click="submit()">
                    <i class="icon-inbox"></i>
                    CLUSTER INSTALL
                  </a>
                </li>
              </ul>
            </li>



            <li>
              <a href="task.html">
                <i class="menu-icon icon-tasks"></i>
                Help
                <!-- <b class="label orange pull-right">19</b> -->
              </a>
            </li>

            <li ng-controller="loginController">
              <a href="" ng-click="submit()">
                <i class="menu-icon icon-signout"></i>
                Logout
              </a>
            </li>


          </ul>

          <!-- <div class="container">
  <h2>Dropdown Example</h2>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle btn btn-large" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
      <i class="menu-icon icon-cog"></i>
      <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation" ng-controller="viosFormCtrl"><a role="menuitem" tabindex="-1" href="" ng-click="submit()">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div>
</div> -->



        </div><!--/.sidebar-->
      </div><!--/.span3-->


      <div class="span9" ng-view>

      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
<div class="footer">
    <div class="container">
        <b class="copyright">&copy; 2016 ISST Tool - IBM </b>All rights reserved.
    </div>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="/scripts/controller.js"></script>
    <script type="text/javascript" src="/scripts/babble.js"></script>
    <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="scripts/jquery-ui-1.10.1.custom.min.js"></script>
    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/scripts/sol.js"></script>
    <script type="text/javascript" src="/scripts/datatables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/scripts/angularjs-dropdown-multiselect.js"></script>
    <script type="text/javascript" src="/scripts/lodash.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-responsive-tables.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-responsive-tables.js"></script>
    <!-- <script  src="http://code.angularjs.org/1.2.2/angular.js" data-semver="1.2.2"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js">  </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
    <script  src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script> -->
    <script src='https://dojotoolkit.org/reference-guide/1.8/_static/js/dojo/dojo.js'></script>
<script>dojoConfig = {parseOnLoad: true}</script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->


    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"> -->

    <!-- </script>
    <script type="text/javascript">
    function toggleChevron(e) {
      $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
      }
      $('#accordion').on('hidden.bs.collapse', toggleChevron);
      $('#accordion').on('shown.bs.collapse', toggleChevron);
    </script> -->



    <!-- <script>

  		$(document).ready(function() {
  			$('.datatable-1').dataTable();
  			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
  			$('.dataTables_paginate > a').wrapInner('<span />');
  			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
  			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
$('.collapse').click(function(){
  $('.collapsed').toggleClass('collapse collapsed');
$('#togglePages2').attr('aria-expanded','false');
  //alert('sfs');

});

  		} );
  	</script> -->

  </body>
</html>
