

<div class="content" >

  <div class="module">
    <div class="module-head">
      <h3>VIOS INSTALLATION Progress</h3>
    </div>
    <div class="module-body" ng-controller = "clusterFormController">



        <div>
          <div><strong>Ping Test and Backup Result:</strong>
          <!-- <markdown> -->
          <button type="button" class="btn btn-success btn-mini" name="button" ng-click ="showPing=true; confirmation()">Click Here</button>
        </div>

      <div class="" ng-show="showPing">
        <br><strong>Backup and Input Details:</strong>
        <br>
          <pre>
            {{message2}}
          </pre>
          <br>
          <strong>{{msg}}</strong>
    <!-- </markdown> -->
    <br>
      <button type="button" class="btn btn-success btn-mini" name="button" ng-click="scriptLog=true; showPing=false; Yes()">Yes</button>
      <button type="button" class="btn btn-success btn-mini" name="button" ng-click="scriptLog=true; showPing=false; No()">No</button>
      </div>
        <br><strong> {{stats2}}</strong>
        <br>
          <div ng-show="scriptLog" >
              {{scriptLogs2}}
          </div>

          </div>
        <script type="text/javascript">
          console.log("We are in form2 page");
        //  console.log($scope.scriptLogs);
        //console.log($scope.scriptLogs);
        </script>
        </div>
    </div>
  </div>






<!--/.content-->

<script type="text/javascript">
  $(function() {
      // initialize sol
      if (window.console) console.log('foo');
      $('#my-select').searchableOptionList();
  });
</script>

<script>
           function ShowMessage() {
               var result = confirm("Do your want to submit form?");
               if (result) {
                   return true;
               } else {
                   return false;
               }
           }
       </script>

       <script type="text/javascript">
          $(document).ready(function(){
              $('button').click(function(){
              $('.alert').show()
              })
          });

       </script>
