<div class="content">

  <div class="module">
    <div class="module-head">
      <h3>Forms</h3>
    </div>
    <div class="module-body">

        <!-- <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Warning!</strong> Something fishy here!
        </div>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oh snap!</strong> Whats wrong with you?
        </div>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Well done!</strong> Now you are listening me :)
        </div> -->

        <br />

        <form id="form1" class="form-horizontal row-fluid" method="post" action="/form" name="myForm">
          <div class="control-group">
            <label class="control-label" for="basicinput">VIOS Build</label>
            <div class="controls">
              <input type="text" id="basicinput" placeholder="Select Build name here..." class="span8" name="temp[build]" ng-model="build" required>
              <span ng-show="myForm.temp[build].$untouched && myForm.temp[build].$invalid">The name is required.</span>
              <span class="help-inline">Minimum 5 Characters</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="basicinput">VIOS Patch</label>
            <div class="controls">
              <input type="text" id="basicinput" placeholder="Select the Patch here..." class="span8" name="temp[patch]">

            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="basicinput">Email ID</label>
            <div class="controls">
              <input data-title="A tooltip for the input" type="text" placeholder="Enter the Email IDs…" data-original-title="" class="span8 tip" name="temp[mailID]" ng-model="mailID" required>
              <span ng-show="myForm.temp[mailID].$untouched && myForm.temp[mailID].$invalid">The name is required.</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="basicinput">VIOS name</label>
            <div class="controls">
              <input data-title="A tooltip for the input" type="text" placeholder="Enter the VIOS names…" data-original-title="" class="span8 tip" name="temp[viosName]" ng-model="viosName" required>
              <span ng-show="myForm.temp[viosName].$untouched && myForm.temp[viosName].$invalid">The name is required.</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="basicinput">ROOTVG Disk</label>
            <div class="controls">
              <input data-title="A tooltip for the input" type="text" placeholder="Enter the rootvg disks…" data-original-title="" class="span8 tip" name="temp[rootvg]"  ng-model="rootvg" required>
              <span ng-show="myForm.temp[rootvg].$touched && myForm.temp[rootvg].$invalid">The name is required.</span>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="basicinput">Number of VIOS</label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">Select the number... <i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#">12</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- <div class="control-group" ng-controller="logDataCtrl">
            <label>{{myData.catergoryName}}</label>
              <select id="my-selects" name="character" multiple="multiple" ng-repeat="x in myData.cec">
                X is {{x}}
                <optgroup label="The Griffins">
                    <option ng-repeat="y in x.vios">{{y.name}}</option>
                </optgroup>
              </select>
              <li ng-repeat="x in myData.cec">
                cec_name{{ x.cec_name }}
                <ul>
                  <li ng-repeat="y in x.vios">
                    Name : {{y.name}}
                  </li>
                </ul>
              </li>
          </div> -->



          <!-- <div ng-controller="logDataCtrl">
              <label>{{mydata.catergoryName}}</label>
                  <ul>
                    <li ng-repeat="x in myData.cec">
                      cec_name{{ x.cec_name }}
                      <ul>
                        <li ng-repeat="y in x.vios">
                          Name : {{y.name}}
                        </li>
                      </ul>
                    </li>
                  </ul>
          </div> -->







<!--
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn" form="form1">Submit Form</button>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Well done!</strong> Now you are listening me :)
              </div>
            </div>
            </div> -->

            <div class="control-group">
                <button type="submit" class="btn" form="form1">Submit Form</button>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Success! message sent successfully.
                </div>

                <div class="alert alert-error">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong>Oh snap!</strong> Whats wrong with you?
                </div>

        </form>
        </div>
    </div>
  </div>



</div><!--/.content-->

<script type="text/javascript">
  $(function() {
      // initialize sol
      if (window.console) console.log('foo');
      $('#my-select').searchableOptionList();
  });
</script>

<script>
           function ShowMessage() {
               var result = confirm("Do your want to submit form?");
               if (result) {
                   return true;
               } else {
                   return false;
               }
           }
       </script>

       <script type="text/javascript">
          $(document).ready(function(){
              $('button').click(function(){
              $('.alert').show()
              })
          });

       </script>
