<div class="content" >

  <div class="module">
    <div class="module-head">
      <h3>VIOS INSTALLATION FORM</h3>
    </div>
    <div class="module-body" ng-controller = "viosFormController">

        <!-- <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Warning!</strong> Something fishy here!
        </div>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oh snap!</strong> Whats wrong with you?
        </div>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Well done!</strong> Now you are listening me :)
        </div> -->

        <br />
        <div class="">
        <p>
          Please read the guidelines before submitting the form.
          <input type="button" value="Click.." class="btn btn-success" data-toggle="modal" data-target="#myModal1">
        </p>

                   <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                       <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                         <h4 class="modal-title" id="myModalLabel">Guidelines</h4>
                       </div>
                       <div class="modal-body">
                         <ol>
                           <li>Make sure that HMC and VIOS are UP before submitting the form</li>
                           <li>Create or Update the VIOS details with correct HMC and Managed System name before submitting the form</li>
                           <li>Check the result of Ping Test after submitting the form.</li>
                           <li>For VIOS which are down default installation will be done on hdisk0. Click the proper option once you get the message.</li>
                           <li>While filling the rootvg disk field, please enter the value in the format viosname_rootvgDisk (eg. beev1_hdisk).</li>
                           <li>After confirming the installation procedure, go to VIOS Install Table to see the installation logs.</li>
                         </ol>
                        </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                       </div>
                     </div>
                   </div>
                   </div>

        </div>
          <br>

        <form id="form1" class="form-horizontal row-fluid"  name="myForm">
          <div class="control-group">
            <label class="control-label" for="basicinput">VIOS Build *</label>
            <div class="controls">
              <!-- <input type="text" id="basicinput" placeholder="Enter Build name here..." class="span8" name="build" ng-model="build" required> -->
              <select placeholder="Enter Build name here..." class="span8" name="build" ng-model="build" required ng-options="x.build for x in myData"> </select>
              <span ng-show="myForm.build.$untouched && myForm.build.$invalid">The name is required.</span>
              <span class="help-inline"></span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="basicinput">VIOS Patch</label>
            <div class="controls">
              <input type="text" id="basicinput" placeholder="Enter the Patch here..." class="span8" name="patch">

            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="basicinput">Email ID *</label>
            <div class="controls">
              <input data-title="A tooltip for the input" type="text" placeholder="Enter the Email IDs…" data-original-title="" class="span8 tip" name="mailID" ng-model="mailID" required>
              <span ng-show="myForm.mailID.$untouched && myForm.mailID.$invalid">The name is required.</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="basicinput">VIOS List *</label>
            <div class="controls">
              <!-- <input data-title="A tooltip for the input" type="text" placeholder="Enter the VIOS names…" data-original-title="" class="span8 tip" name="viosName" ng-model="viosName" required> -->

              <div ng-dropdown-multiselect="" options="example13data" selected-model="example13model" extra-settings="example13settings" class="span8 tip" name="viosName" ng-model="viosName" required></div>
              <span ng-show="myForm.viosName.$untouched && myForm.viosName.$invalid"></span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="basicinput">ROOTVG Disk</label>
            <div class="controls">
              <input data-title="A tooltip for the input" type="text" placeholder="Enter the rootvg disks…" data-original-title="" class="span8 tip" name="rootvg"  ng-model="rootvg" required>
              <span ng-show="myForm.rootvg.$touched && myForm.rootvg.$invalid"></span>
            </div>
          </div>


          <!-- <div class="control-group">
            <label class="control-label" for="basicinput">Number of VIOS</label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">Select the number... <i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#">12</a></li>
                </ul>
              </div>
            </div>
          </div> -->


          <!-- <div class="control-group" ng-controller="logDataCtrl">
            <label>{{myData.catergoryName}}</label>
              <select id="my-selects" name="character" multiple="multiple" ng-repeat="x in myData.cec">
                X is {{x}}
                <optgroup label="The Griffins">
                    <option ng-repeat="y in x.vios">{{y.name}}</option>
                </optgroup>
              </select>
              <li ng-repeat="x in myData.cec">
                cec_name{{ x.cec_name }}
                <ul>
                  <li ng-repeat="y in x.vios">
                    Name : {{y.name}}
                  </li>
                </ul>
              </li>
          </div> -->



          <!-- <div ng-controller="logDataCtrl">
              <label>{{mydata.catergoryName}}</label>
                  <ul>
                    <li ng-repeat="x in myData.cec">
                      cec_name{{ x.cec_name }}
                      <ul>
                        <li ng-repeat="y in x.vios">
                          Name : {{y.name}}
                        </li>
                      </ul>
                    </li>
                  </ul>
          </div> -->







<!--
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn" form="form1">Submit Form</button>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Well done!</strong> Now you are listening me :)
              </div>
            </div>
            </div> -->

            <!-- <div class="control-group">
                <button type="submit" class="btn btn-primary" form="form1">Submit Form</button>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Success! message sent successfully.
                </div>

                <div class="alert alert-error">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong>Oh snap!</strong> Whats wrong with you?
                </div> -->


        </form>
        <input type="button" value="submit" class="btn btn-success  btn btn-large" ng-click = "showsub=true; getScriptLogs()" ng-controller = "viosForm2Ctrl" ng-hide="showsub">
        <!-- <button type="button" name="button"> Load Data</button> -->
        <!-- <a href="" ng-click = "submit()"> -->

        <div class="text-success">
          <strong>{{stats}}</strong>
        </div>

        </div>
    </div>
  </div>






<!--/.content-->

<script type="text/javascript">
  $(function() {
      // initialize sol
      if (window.console) console.log('foo');
      $('#my-select').searchableOptionList();
  });
</script>

<script>
           function ShowMessage() {
               var result = confirm("Do your want to submit form?");
               if (result) {
                   return true;
               } else {
                   return false;
               }
           }
       </script>

       <script type="text/javascript">
          $(document).ready(function(){
              $('button').click(function(){
              $('.alert').show()
              })
          });

       </script>
