<div class="module">
    <div class="module-head">
        <h3>
            VIOS INSTALLATION STATUS TABLE</h3>
    </div>
    <div class="module-body table" ng-controller="logDataCtrl">
      <!-- <strong> VIOS NAME: <input type="text" name="name" value="" ng-model="search.viosName" placeholder="Filter using VIOS.." class="span4"></strong> -->
        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display table-hover"
            width="100%" datatable="ng" ng-table="usersTable"  show-filter="true"  wt-responsive-table>
            <!-- <thead>
                <tr >
                    <th>
                        No.
                    </th>
                    <th>
                        VIOS Name
                    </th>
                    <th>
                        VIOS Build
                    </th>
                    <th>
                        VIOS Patch
                    </th>
                    <th>
                        Email ID
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Log Folder
                    </th>

                </tr>
            </thead> -->
            <!-- <tbody> -->
                <tr class="odd gradeX" ng-repeat="x in data">
                  <td title="'ID'" sortable="'id'">
                      {{x.id}}
                  </td>
                    <td title="'VIOS Name'" sortable="'viosName'" filter="{ 'viosName': 'text' }">
                    <!-- <td> -->
                        {{x.viosName}}
                    </td>
                    <td title="'VIOS Build'" filter="{ 'build': 'text' }">
                        {{x.build}}
                    </td>
                    <td class="center" title="'VIOS Patch'">
                        {{x.patch}}
                    </td>
                    <td class="center" title="'Email ID'">
                        {{x.emailID}}
                    </td>
                    <td class="center" title="'Date'">
                        {{x.date}}
                    </td>
                    <td> <a class="center" href="" ng-click="getLogDetails(x.viosName,x.LogFiles)" ng-model="showLog" class="btn btn-primary" title="'Log Folder'">
                        {{x.LogFiles}} </a>
                        <!-- <span>{{logDetails}}</span> -->
                    </td>
                </tr>


            <!-- </tbody> -->
        </table>

          <div class="module-body" ng-show="showLog" ng-hide="hideLog">


          <ul ng-repeat="(fileIndex,file) in logDetails">

          <p>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal{{fileIndex}}" ng-click="print_log(fileIndex)">
            {{file.filename}}
            </button>
          </p>

            <div class="modal fade" id="myModal{{fileIndex}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">{{file.filename}}</h4>
                </div>
                <div class="modal-body">
                  <pre>
                  {{file.logContent}}
                </pre>
                 </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
            </div>
        </ul>

          <button ng-model="hideLog">Close</button>
        </div>

    <!-- <div class="module-body"

    <div class="container">

<button ng-repeat="file in logDetails" type="button" class="btn btn-info btn-lg" data={{$index}} data-toggle="modal" id="getinfo" data-target="#myModal"> {{ file.filename }}</button> &nbsp;





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"id="data_title">{{file.filename}}</h4>
      </div>
      <div class="modal-body"id="data_content">
        <p>{{file.logContent}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
 </div>
 </div>
<script>

// var data=[
//     {"name":"John", "content":"content1"},
//     {"name":"Anna", "content":"content2"},
//     {"name":"Peter", "content":"content3"}
// ];

console.log(data[0]['name']);


$(document).ready(function(){

	$('button#getinfo').click(function(){
		//alert($(this).attr("data"));
		dataid=$(this).attr("data");
		$('#data_title').html(data[dataid]['name']);
		$('#data_content').html(data[dataid]['content']);

	});

});

</script> -->

  </div>

</div>
